html[data-theme="dark"] .heroBanner {
  background: url("./home-background-dark.svg") no-repeat center center;
  background-size: cover;
  padding: 14rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

html[data-theme="light"] .heroBanner {
  background: url("./home-background-light.svg") no-repeat center center;
  background-size: cover;
  padding: 14rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttonRow {
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  margin-top: 3rem;
}

@media only screen and (max-width: 768px) {
  .buttonRow {
    flex-direction: column;
    gap: 0.75rem;
  }
  html[data-theme="dark"] .heroBanner {
    padding: 9.5rem 0;
  }
  html[data-theme="light"] .heroBanner {
    padding: 9.5rem 0;
  }
}

.frontTitle {
  text-align: left;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.frontSubtitle {
  text-align: left;
  max-width: 40rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
