/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* TODO: Need to add ifm color shades for primary colors */
:root {
  --ifm-color-primary: rgb(110, 46, 244);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.main-wrapper {
  display: flex;
}

.navbar__item.active {
  display: inline-block;
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.hero--primary {
  --ifm-hero-background-color: var(--ifm-font-color-base-inverse);
  --ifm-hero-text-color: var(--ifm-font-color-base);
}

html[data-theme="dark"] .button--primary {
  color: var(--ifm-button-color-inverse);
}